.nav__container-2 button {
  background-color: $colour-btn;
  border: none;
  border-radius: 3px;
  color: white;
  margin-right: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

main .landing .landing__btn {
  background-color: $colour-btn;
  color: $colour-white;
  border-radius: 3px;
  border: 1px solid $colour-darkblue;
  padding: 0.7em 1.7em;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 1.5em 0;
}

main .landing .landing__btn:hover {
  background-color: $colour-blue;
  cursor: pointer;
}

.app__content button {
  background-color: $colour-blue;
  border: 1px solid white;
  color: white;
  padding: 0.6em 1.5em;
  border-radius: 3px;
  font-weight: 700;
  margin-top: 0.5em;
  cursor: pointer;
}

.app__content button:hover {
  text-decoration: underline;
}
