h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: $colour-darkblue;
  line-height: 1.1;
}

@media (max-width: 71.25rem) {
  h1 {
    font-size: 1.875rem;
  }
}

h2 {
  font-size: 1.8rem;
  color: $colour-darkblue;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  color: $colour-darkblue;
  font-weight: 700;
}
